name: CMake

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CXX_FLAGS: -Werror

jobs:
  build:
    strategy:
      matrix:
        compiler:
          - { distro: ubuntu-25.04, c: gcc-15, cxx: g++-15, flags: , deps: }
          - { distro: ubuntu-25.04, c: clang-19, cxx: clang++-19, flags: -DUSE_LIBCXX=ON, deps: libomp-19-dev libc++-19-dev libc++abi-19-dev }
        build_type: [Debug, RelWithDebInfo]

    runs-on: ${{ matrix.compiler.distro }}

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libboost-dev libarmadillo-dev libdlib-dev libbtbb-dev ${{ matrix.compiler.c }} ${{ matrix.compiler.cxx }} ${{ matrix.compiler.deps }}

    - name: Configure CMake
      run: |
        cmake \
          -B ${{ github.workspace }}/build \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DCMAKE_C_COMPILER=${{ matrix.compiler.c }} \
          -DCMAKE_CXX_COMPILER=${{ matrix.compiler.cxx }} \
          -DCMAKE_CXX_FLAGS=${{ env.CXX_FLAGS }} \
          ${{ matrix.compiler.flags }}

    - name: Build
      run: |
        cmake \
          --build ${{ github.workspace }}/build \
          --config ${{ matrix.build_type }} \
          --parallel $(nproc) \
          --verbose

  test:
    runs-on: ubuntu-25.04

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libboost-dev libarmadillo-dev libdlib-dev

    - name: Configure CMake
      run: |
        cmake \
          -B ${{ github.workspace }}/build \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -DUSE_TBB=OFF \
          -DCMAKE_C_COMPILER=gcc-14 \
          -DCMAKE_CXX_COMPILER=g++-14 \
          -DCMAKE_CXX_FLAGS=${{ env.CXX_FLAGS }}

    - name: Test
      run: |
        cmake \
          --build ${{ github.workspace }}/build \
          --target check \
          --config RelWithDebInfo \
          --parallel $(nproc) \
          --verbose
